In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("nfo - Sheet1.csv")

#TraderID	ClientTrCode	ClientCode

In [8]:
data['TraderID'] = 10548

In [9]:
data['ClientTrCode'] = 2683052

In [10]:
data['ClientCode'] = 'A200'

In [29]:
def process_symbol(symbol):
    
    sym_sp = symbol.split()

    # underlying = symbol[0:10] if symbol[0] == 'B' else symbol[0:6]
    underlying = sym_sp[0]
    month = sym_sp[1][-7:-4]
    day = sym_sp[1][:-7]
    year = sym_sp[1][-4:]
    opt_type = sym_sp[2]
    strike = "{:.2f}".format(float(sym_sp[3]))


    return ''.join(['OPTIDX',underlying,month,' ',day,' ',year,opt_type,strike])


#OPTIDXBANKNIFTYMar  9 2023PE40600.00

In [30]:
process_symbol('BANKNIFTY 9Mar2023 CE 40000')

'OPTIDXBANKNIFTYMar 9 2023CE40000.00'

In [31]:
data['SeriesCode'] = data['CONTRACT'].apply(process_symbol)

In [33]:
def calculate_qty(qty,bs):
    if bs == 'B':
        return qty * 1
    else:
        return qty*(-1)

In [36]:
data['Qty'] = data.apply(lambda x : calculate_qty(x['EXECUTED QTY'],x['BUY SELL']),axis=1)

In [37]:
data['MktRate'] = data['EXEC PRICE']

In [38]:
# OrderNo	TradeNo	TradeTime	TrType
data['OrderNo'] = 1
data['TradeNo'] = 1
data['TradeTime'] = 1
data['TrType'] = 1

In [39]:
new_df = data[['TraderID','ClientTrCode','ClientCode','SeriesCode','Qty','MktRate','OrderNo','TradeNo','TradeTime','TrType']]

In [40]:
new_df

,TraderID,ClientTrCode,ClientCode,SeriesCode,Qty,MktRate,OrderNo,TradeNo,TradeTime,TrType
0,10548,2683052,A200,OPTIDXBANKNIFTYMar 23 2023PE40000.00,25,249.20,1,1,1,1
1,10548,2683052,A200,OPTIDXNIFTYMar 23 2023PE17150.00,50,80.15,1,1,1,1
2,10548,2683052,A200,OPTIDXBANKNIFTYMar 23 2023CE40000.00,25,188.80,1,1,1,1
3,10548,2683052,A200,OPTIDXNIFTYMar 23 2023CE17150.00,50,63.35,1,1,1,1
4,10548,2683052,A200,OPTIDXNIFTYMar 23 2023CE17150.00,-50,77.95,1,1,1,1
5,10548,2683052,A200,OPTIDXNIFTYMar 23 2023PE17150.00,-50,72.30,1,1,1,1
6,10548,2683052,A200,OPTIDXBANKNIFTYMar 23 2023CE40000.00,-25,240.15,1,1,1,1
7,10548,2683052,A200,OPTIDXBANKNIFTYMar 23 2023PE40000.00,-25,234.05,1,1,1,1

In [41]:
new_df.to_csv("New.csv")